name: Matrix Demo

on: push

jobs:
  build:
    strategy:
      matrix:
        node-version: [20, 22, 24]
        operating-system: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.operating-system}}
    steps:
      - name: Get Code
        uses: actions/checkout@v6

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install Dependencies
        run: npm ci

      - name: Build project
        run: npm run build
